################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/Aplikacja_do_zarzadzania_wydatkami/.vs/Aplikacja_do_zarzadzania_wydatkami/FileContentIndex/284a30cd-80d4-49d4-b441-5d040bc4dc01.vsidx
